header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1em 0;
    max-width: 1400px;
    margin: 30px auto;
    padding: 0 24px;

    & .main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        gap: 12px;
        font-size: 1.5rem;
        margin-bottom: 5px;
    }

    @media (max-width: 650px) {
        flex-direction: column;
        align-items: center;
    }

    @media print {
        display: none !important;
    }
}

.socials a {
    border-bottom: unset;
}

nav a {
    margin: 5px;

    &:hover {
        background-color: var(--bg-2);
        color: var(--text-1);
    }
}