// Image variables
$image-max-width: 1000px;
$image-caption-width: 80%;

// Image mixins
@mixin image-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
}

@mixin image-caption {
    text-align: center;
    font-family: var(--header-font);
}

// Image styles
div.image {
    @include image-container;

    img {
        max-width: $image-max-width;
        width: 100%;
        height: auto;
        padding: 0 1rem;
    }

    hr {
        width: $image-caption-width;
    }

    p {
        @include image-caption;
    }
}