.page-header {
    font-size: clamp(2.5rem, 2rem + 2vw, 3.25rem);
    line-height: 100%;
    font-family: var(--header-font);
    font-weight: 700;
    margin: var(--space-6) 0 var(--space-3);

    @media print {
        display: none;
    }

    span {
        color: var(--primary-color);
        font-size: 1.6em;
    }
}
