// Tag variables
$tag-padding: 5px;
$tag-margin-right: 10px;
$tag-margin-bottom: 5px;
$tag-height: 24px;
$tag-icon-size: 24px;

// Tag mixins
@mixin tag-base {
    background-color: var(--bg-2);
    border-radius: var(--border-radius);
    padding: $tag-padding;
    margin-right: $tag-margin-right;
    margin-bottom: $tag-margin-bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    height: $tag-height;
    border-bottom: unset;
}

// Tag styles
.tags {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tag {
    @include tag-base;

    &.tag-icon {
        width: $tag-icon-size;
    }

    svg {
        fill: var(--text-1);
    }
}
