---
import Layout from "@layouts/Layout.astro";
import { getPostsByTag, getTags } from "@utils/content";
import { getWordDeclension } from "@utils/declension";

const tags = await getTags();

---

<Layout title="Теги">
    <ul>
        {
            tags.map(async tag => (<li>
                <a href=`/tags/${tag.id}`>{tag.data.label} ({getWordDeclension((await getPostsByTag(tag.id)).length, ["пост", "поста", "постов"])})</a>
            </li>))
        }
    </ul>
</Layout>