---
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /project-tags/{{ tag }}/
layout: base.njk
renderData:
  title: "Projects tagged “{{ tag }}”"
  metaDescription: "All projects tagged with “{{ tag }}”"
---
<div class="page-container">
  {# Header #}
  <div class="tag-list tag-list--no-wrap">
    <h4 class="tag-list__title">Проекты с меткой {{ tag }}</h4>
  </div>

  {# Projects #}
  {% from "macros/projectlist.njk" import projectlist %}
  {{ projectlist(projects = collections[tag] | reverse) }}

  {# Footer #}
  <nav>
    <a href="{{ '/projects/' | url }}">← Все проекты</a>
  </nav>
</div>
