body {

  &.dark {
    /* Brand Colors */

    --color-primary: #ccc;
    --color-secondary: #3656a8;

    /* Background Colors */
    --color-bg: #111;
    --color-bg-secondary: #222;
    --color-bg-accent: rgba(36, 63, 214, 0.5);
    --color-accent: rgb(36, 63, 214);
    --color-bg-hover: #333333cc;

    /* Text and Border Colors */
    --color-text: #eee;
    --color-text-alt: #fff;
    --color-text-gray: #5a5c61;
    --color-border: #fafafa0f;

    /* Status Colors */
    --color-danger: #e03e3e;
  }

  &:not(.dark) {
    /* Brand Colors */

    --color-primary: #222;
    --color-secondary: #2f5bc2;

    /* Background Colors */
    --color-bg: #fff;
    --color-bg-secondary: #f7f7f7;
    --color-bg-accent: rgb(174, 182, 225);
    --color-accent: rgb(174, 182, 225);
    --color-bg-hover: #f3f4f6cc;

    /* Text and Border Colors */
    --color-text: #222;
    --color-text-alt: #fff;
    --color-text-gray: #6b7280;
    --color-border: rgb(0 0 0 / 6%);

    /* Status Colors */
    --color-danger: #e03e3e;
  }

  /* Typography */
  --font-family-base: "Inter", ui-sans-serif, system-ui, -apple-system;
  --font-family-heading: var(--font-family-base);
  --font-family-monospace: "JetBrains Mono", monospace;
  --font-family-emoji: "Noto Emoji";

  /* Sizes */
  --site-width: 800px;
  --header-height: 66px;
  --header-height-lg: 76px;

  /* Z-index */
  --z-header: 10;

  /* Other */
  --border-radius: 12px;
  --border-radius-sm: 5px;
  --shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);

  font-family: var(--font-family-base);
}