---
import Layout from "@layouts/Layout.astro";
import { getMinisByTag, getTags } from "@utils/content";
import { getWordDeclension } from "@utils/declension";

const tags = await getTags();

---

<Layout title="Теги">
    <ul>
        {
            tags.map(async tag => (<li>
                <a href=`/minis/tags/${tag.id}`>{tag.data.label} ({getWordDeclension((await getMinisByTag(tag.id)).length, ["шпаргалка", "шпаргалки", "шпаргалок"])})</a>
            </li>))
        }
    </ul>
</Layout>