---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import PostCard from "@/components/PostCard.astro";
import Icon from "astro-icon";

const posts = (await getCollection("posts"))
  .sort((a, b) => b.data.publishedAt.getTime() - a.data.publishedAt.getTime());
---

<Layout title="Все публикации">
  <main class="flex flex-col gap-20">
    <div class="flex gap-2">
      <h1 class="text-2xl dark:text-neutral-100">Публикации</h1>
      <a href="/rss.xml">
        <Icon name="mdi:rss-box" class="w-8" />
      </a>
    </div>

    <article class="flex flex-col gap-4">
      {
        posts.map((post) => post.data.isPublish && (
          <PostCard {...post.data} slug={post.slug}/>
        ))
      }
    </article>
  </main>
</Layout>
