---
import MainLayout from '@/layouts/MainLayout.astro';
import { getCollection } from 'astro:content';
import ContentCard from '@/components/content/card/ContentCard.astro';
import { Icon } from 'astro-icon/components';

const posts = (await getCollection('posts')).sort(
    (a, b) => b.data.publishedAt.getTime() - a.data.publishedAt.getTime(),
);
---

<MainLayout>
    <div class="section">
        <div class="section__header">
            <h1 class="section__title">
                Посты
                <a href="/rss.xml">
                    <Icon name="mdi:rss-box" class="w-8" title="rss" />
                </a>
            </h1>
        </div>
        <div class="section__content">
            {
                posts.map((post) => (
                    <ContentCard {...post.data} slug={post.slug} />
                ))
            }
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const posts = document.querySelectorAll('.content-card');
            const now = new Date();

            posts.forEach((post) => {
                const publishedAt = new Date(
                    post.getAttribute('data-published-at')!
                );
                if (publishedAt > now) {
                    post.style.display = "none";
                } else {
                    post.style.display = "flex";
                }
            });
        });
    </script>
</MainLayout>
