---
import {Icon} from "astro-icon/components";
import "./styles.css"
import getTagDefinition from "@/utils/getTagDefinition";
import type { AllowedId } from "@/data/tags";

type Props = {
    tag: AllowedId;
};
const {tag} = Astro.props;
const tagInfo = getTagDefinition(tag);
---

<span class="tag">
    {tagInfo.icon && <Icon name={tagInfo.icon} />}
    {tagInfo.label}
</span>