---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content"
import Layout from "@/layouts/Layout.astro";
export async function getStaticPaths() {
  const tils = await getCollection("tils");

  return tils.map((til) => ({
    params: { slug: til.slug },
    props: { til },
  }));
}

type Props = {
  til: CollectionEntry<"tils">;
};

const { til } = Astro.props;
const { Content } = await til.render();
---

<Layout title={til.data.title}>
  <main class="post md:mx-auto flex w-full max-w-prose md:max-w-full p-5 flex-col gap-4">
    <header role="presentation">
      <h1 class="text-xl">
        {til.data.title}
      </h1>
    </header>

    <Content />
  </main>
</Layout>
