---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import type { TIL } from "@/data/tils";

const tils = await getCollection<"tils", TIL>("tils");
---

<Layout title="TIL">
    <main class="flex flex-col gap-20">
        <h1 class="text-2xl text-neutral-100">TIL — Сегодня я узнал</h1>

        <article class="flex flex-col gap-4">
            {
                tils?.length > 0 && tils.map((til) => (
                    <a
                        class="group flex flex-col gap-2 border-t border-neutral-700 py-4 transition-all hover:text-neutral-100"
                        href={`/tils/${til.data.slug}`}
                    >
                        <div class="flex w-full items-center justify-between">
                            <h2 class="text-lg">{til.data.title}</h2>
                            <span>{til.data.tags.join(" • ")}</span>
                        </div>
                        <p>{til.data.description}</p>
                    </a>
                )) || <p>I must work...</p>
            }
        </article>
    </main>
</Layout>