.cycle {
    background-color: var(--bg-1);
    padding: 15px;
    margin: 20px 0;
    width: fit-content;
    border-radius: 15px;

    & li.active span {
        background-color: var(--border-color);
        color: var(--hover-color);
        display: inline;
    }
}