.post-container {
    @media (min-width: 1024px) {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    aside div {

        visibility: hidden;

        @media (min-width: 1024px) {
            visibility: visible;
            position: sticky;
            top: 100px;
            font-size: 15px;
        }

        nav.toc ul {
            list-style-type: none;
        }
    }

}