@use "sass:color";

$bg-0: #222436;
$bg-1: color.adjust($bg-0, $lightness: 5%);
$bg-3: color.adjust($bg-0, $lightness: 10%);
$bg-2: color.adjust($bg-1, $lightness: 10%);

$text-0: #c8d3f5;
$text-1: color.adjust($text-0, $lightness: -5%);

$bg-selection: #2d3f76;
$text-selection: #{$text-1};

$primary-color: #444a73;
$primary-color-hover: color.adjust($primary-color, $lightness: 15%);

:root {
    --text-0: #{$text-0};
    --text-1: #{$text-1};

    --bg-0: #{$bg-0};
    --bg-1: #{$bg-1};
    --bg-2: #{$bg-2};
    --bg-3: #{$bg-3};

    --bg-selection: #{$bg-selection};
    --text-selection: #{$text-1};

    --border-color: var(--bg-2);

    --primary-color: #{$primary-color};
    --primary-color-hover: #{$primary-color-hover};
    --hover-color: #828bb8;

    .social>img {
        filter: invert(1);
    }
}