---
layout: base.njk
section: post
---
<div class="page-container">
  <div class="post-container">
    <article>
      <h1>{{ title }}</h1>
      <p>
        <time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time>
      </p>
      <hr/>
      {{ layoutContent | safe }}
      {% if tags %}
        <p class="tag-list">
        {% for tag in tags %}
          {%- if tag != "post" -%}
            {% set tagUrl %}/tags/{{ tag }}/{% endset %}
            <a class="tag" href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
          {%- endif -%}
        {% endfor %}
        </p>
      {% endif %}
    </article>
    <aside>
      <div>
        <h5>Оглавление</h5>
        {{ layoutContent | toc | safe }}
      </div>
    </aside>
  </div>
  <nav>
    <a href="{{ '/blog/' | url }}">← Все статьи</a>
  </nav>
</div>