body {
    font-family: 'Nunito Sans', sans-serif;
    @apply text-black dark:text-neutral-400
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat';
  }
  
  ::selection {
    @apply text-white;
  }
  
  /* article.minimalist {
    @apply prose prose-slate m-0
      max-w-fit bg-white px-12 py-8 pt-20 prose-h1:text-3xl prose-h1:uppercase prose-h2:mb-3 prose-h2:mt-8 prose-h2:text-sm prose-h2:uppercase
      prose-h2:text-slate-500 prose-h3:mb-3
      prose-h3:mt-8 prose-h3:text-xl prose-h3:uppercase prose-h4:mb-3 prose-h4:mt-4 
      prose-h4:text-sm prose-h4:text-slate-600 prose-p:my-2 prose-p:text-sm
      prose-p:leading-6 prose-a:font-bold prose-a:no-underline prose-a:transition-colors hover:prose-a:text-slate-400 
      prose-li:text-sm prose-table:mt-4 prose-thead:border-0 prose-th:p-0
      prose-th:font-medium prose-td:p-0 prose-td:text-slate-500
      dark:bg-neutral-950
      dark:prose-invert
      prose-h4:dark:text-neutral-400  
      sm:px-24 sm:py-14
       lg:max-w-4xl;
  } */

  .minimalist {
    @apply prose prose-slate m-0 max-w-none w-80 md:w-fit sm:px-24 sm:py-14 lg:max-w-4xl sm:max-w-xs dark:prose-invert sm:prose-lg
  }

  .minimalist h1 {
    @apply text-3xl uppercase
  }

  .minimalist h2 {
    @apply mb-3 mt-8 uppercase
  }

  .minimalist h3 {
    @apply mb-3 mt-8 text-xl
  }

  .minimalist h4 {
    @apply mb-3 mt-4 text-sm
  }

  .minimalist p {
    @apply my-2 text-sm leading-6
  }

  .minimalist a {
    @apply font-bold transition-colors no-underline
  }

  .minimalist li {
    @apply text-sm dark:text-neutral-400
  }

  .minimalist table {
    @apply mt-4
  }

  .minimalist thead {
    @apply border-0
  }

  .minimalist th {
    @apply p-0 font-medium
  }

  .minimalist td {
    @apply p-0 text-slate-500
  }

  .project-header {
    @apply flex gap-4 sm:flex-col md:flex-row items-baseline flex-wrap
  }
  