
text {
    font-family: 'JetBrainsMono NFP', 'JetBrains Mono';
    fill: #f2f8f8;
}

.background {
    fill: #121212;
}

.border {
    stroke: #3F5878;
    stroke-width: 20;
}

.h1 {
    font-size: 60px;
    font-weight: bold;
    width: 80%;
}

.p {
    font-size: 40px;
}

.card {
    margin: 40px;
    width: 100%;
}

.tag {
    fill: #f2f8f8;
    border-radius: 5px;
}

.tag-label {
    fill: #121212;
    font-size: 25px;
}