{% import "macros/macros.html" as post_macros %}

<!DOCTYPE html>
<html lang="en">
<html>

{% include "partials/header.html" %}

<body>
    <div class="content">
        {% include "partials/nav.html" %}

        {# Post page is the default #}
        {% block main_content %}
            Nothing here?!
        {% endblock main_content %}

        {% if page.extra.comment | default(value=false) and not page.draft %}
        <hr class="after-post-divider">
        <div class="giscus"></div>
        {% include "_giscus_script.html" %}
        {% endif %}

    </div>
</body>

</html>
