---
import MainLayout from "@/layouts/MainLayout.astro";
import "@/styles/404.css";
---

<MainLayout>
    <div class="notfound">
        <div class="notfound__header">
            <h1 class="notfound__title">404</h1>
        </div>
        <div class="notfound__content">
            <p>Вы добрались до края света.</p>
            <p>Дальше живут драконы. <a href="/">Возвращайтесь</a></p>
        </div>
    </div>
</MainLayout>