---
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import PostCards from "@components/PostCards.astro";
import { getMinis, getPosts } from "@utils/content";
import type { CollectionEntry } from "astro:content";

const allPosts: (CollectionEntry<"posts"> | CollectionEntry<"minis">)[] = [
    ...(await getPosts()),
    ...(await getMinis())
].sort((a, b) => {
  const dateA = new Date(a.data.date!).valueOf();
  const dateB = new Date(b.data.date!).valueOf();

  return dateB - dateA;
}).slice(0, 7);
---

<Layout title="Обо мне">
    <p>
        Салют! <Icon name="fa6-regular:hand-peace" /> Меня зовут Даниил, в интернете
        обычно мелькаю как <i>dadyarri</i>, я C#/.NET бэкенд-разработчик.
    </p>

    <p>Ищу работу.</p>

    <div class="posts-header">
        <h2>Последние посты</h2>
        <div>
            <a href="/posts">Все</a>
            <a href="/rss.xml" target="_blank"
                ><Icon name="carbon:rss" /> RSS feed</a
            >
        </div>
    </div>

    <PostCards posts={allPosts} />
</Layout>

<style lang="scss">
    .posts-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
</style>
