span.icon-24 {
  display: inline-flex;
  height: 24px;
  width: 24px;
}

span.icon-32 {
  display: inline-flex;
  height: 32px;
  width: 32px;
}

span.icon-48 {
  display: inline-flex;
  height: 48px;
  width: 48px;
}

span.icon-56 {
  display: inline-flex;
  height: 56px;
  width: 56px;
}

span.icon-72 {
  display: inline-flex;
  height: 72px;
  width: 72px;
}

.link-wrapper {
  text-decoration: none;
  display: flex;
  align-items: center;

  & > p {
    margin-left: 20px
  }

}

.page-header {
  margin-bottom: var(--row-gap-medium);

  & > p:first-child {
    margin-top: 0;
  }
}

.page-title {
  font: var(--font-display);
  letter-spacing: var(--font-display-spacing);
  margin: 0;
  text-wrap: balance;
}

.page-navigation {
  margin-bottom: var(--row-gap-medium);

  & ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
  }

  & h2 {
    font: var(--font-body-bold);
    letter-spacing: var(--font-body-spacing);
    margin: .5em 0;
  }
}

.page-pagination {
  border-top: solid 1px var(--color-line);
  margin-top: var(--row-gap-medium);
}