---
import type { Contact } from "@type/cv";

interface Props {
  contacts: Contact[];
}

const { contacts } = Astro.props;
---

<div class="cv-grid cv-grid-two">
  {
    contacts.map((contact) => (
      <div class="cv-detail">
        <p class="cv-label">{contact.label || contact.type}</p>
        <div class="cv-detail-value">
          {(contact.type !== "location" && (
            <a
              href={
                contact.type === "email"
                  ? `mailto:${contact.value}`
                  : contact.type === "phone"
                    ? `tel:${contact.value}`
                    : contact.value
              }
              target={
                contact.type === "website" || contact.type === "github"
                  ? "_blank"
                  : undefined
              }
              rel={
                contact.type === "website" || contact.type === "github"
                  ? "noopener noreferrer"
                  : undefined
              }
              class="cv-detail-value"
            >
              {contact.value}
            </a>
          )) || <span>{contact.value}</span>}
        </div>
      </div>
    ))
  }
</div>
