---
import type { SkillCategory } from "@type/cv";

interface Props {
  categories: SkillCategory[];
}

const { categories } = Astro.props;
---

<div class="cv-skills">
  {categories.map((category) => (
    <div class="cv-skills-category">
      <h3>{category.name}</h3>
      <ul class="tags">
        {category.skills.map((skill) => (
          <li class="tag">{skill.name}</li>
        ))}
      </ul>
    </div>
  ))}
</div>
