---
import type { SkillCategory } from "@type/cv";

interface Props {
  categories: SkillCategory[];
}

const { categories } = Astro.props;
---

<div class="cv-grid cv-grid-two">
  {categories.map((category) => (
    <div class="cv-detail">
      <p class="cv-label">{category.name}</p>
      <p class="cv-copy">
        {category.skills.map((skill) => skill.name).join(", ")}
      </p>
    </div>
  ))}
</div>
