---
import type { SkillCategory } from "@type/cv";

interface Props {
  categories: SkillCategory[];
}

const { categories } = Astro.props;
---

<div class="cv-skills">
  {categories.map((category) => (
    <div class="cv-skills-category">
      <h3>{category.name}</h3>
      <ul class="tags">
        {category.skills.map((skill) => (
          <li class="tag">{skill.name}</li>
        ))}
      </ul>
    </div>
  ))}
</div>

<style lang="scss">
  .cv-skills {
    display: grid;
    gap: 2rem;

    @media print {
      gap: 1rem;
      page-break-inside: avoid;
    }
  }

  .cv-skills-category {
    margin-bottom: 1rem;

    h3 {
      margin-bottom: 0.5rem;
      color: var(--text-0);

      @media print {
        color: black;
      }
    }

    @media print {
      margin-bottom: 0;
      page-break-inside: avoid;
    }
  }

  .tags {
    @media print {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
    }
  }

  .tag {
    @media print {
      background: none;
      border: 1px solid black;
      padding: 0.25rem 0.5rem;
      font-size: 0.9rem;
    }
  }
</style> 