---
import removeTrailingSlash from "@/utils/removeTrailingSlash";
import presentation from "@/data/presentation";

const pathname = removeTrailingSlash(Astro.url.pathname);
---

<header class="z-40 flex w-full flex-col gap-2 md:flex-row md:justify-between sticky top-5 p-5 rounded-md transition-bg duration-300 ease-in-out" id="header">
  <a href={`mailto:${presentation.mail}`} class="hover:dark:text-neutral-100 hover:text-orange-500 "
    >{presentation.mail}</a
  >

  <nav role="navigation">
    <ul role="list" class="flex flex-row gap-2">
      <li>
        <a
          href="/"
          class:list={{
            ["hover:dark:text-neutral-100"]: true,
            ["hover:text-orange-500"]: true,
            ["transition"]: true,
            ["duration-300"]: true,
            ["text-orange-500"]: pathname === "/",
          }}>Главная</a
        >
      </li>
      <li>/</li>
      <li>
        <a
          href="/posts"
          class:list={{
            ["hover:dark:text-neutral-100"]: true,
            ["hover:text-orange-500"]: true,
            ["transition"]: true,
            ["duration-300"]: true,
            ["text-orange-500"]: pathname === "/posts",
          }}>Блог</a
        >
      </li>
      <li>/</li>
      <li>
        <a
          href="/projects"
          class:list={{
            ["hover:dark:text-neutral-100"]: true,
            ["hover:text-orange-500"]: true,
            ["transition"]: true,
            ["duration-300"]: true,
            ["text-orange-500"]: pathname === "/projects",
          }}>Проекты</a
        >
      </li>
    </ul>
  </nav>
</header>
