---
import { Icon } from 'astro-icon/components';

type Props = {
    page: number;
    category: string
};

const { page, category } = Astro.props;
const href = page === 1 ? `/${category}` : `/${category}/${page}`;
---

<a
    href={href}
    class="pagination-button">
    <Icon name="carbon:chevron-left" width={20} />
    <span>В будущее</span>
</a>
