---
import { getPostsBySeries, getSeriesLabel } from "@utils/content";

type Props = {
    series: string;
    currentPost: string;
};

const { series, currentPost } = Astro.props;

const posts = await getPostsBySeries(series);
const seriesLabel = await getSeriesLabel(series);
---

<nav class="card">
    <div>
        <h1 class="card-title">Цикл "{seriesLabel}"</h1>
        <ul>
            {posts.map(post => <li>
                <a href=`/${post.collection}/${post.id}` class:list={[{"active": currentPost === post.id}]}>{post.data.title}</a>
            </li>)}
        </ul>
    </div>
</nav>

<style lang="scss">
    h1 {
        border: none;
        line-height: 1;
        font-weight: 600;
        font-size: 1.5rem;
        margin: 0 0 var(--space-3);
    }

    ul {
        list-style: none;
        padding-left: var(--space-3);
        margin: 0;
    }

    a {
        border: none;
    }

    a.active {
        padding: 0.15rem 0.35rem;
        border-radius: var(--radius-sm);
        background-color: var(--surface-2);
        color: var(--text-1);
        display: inline;
    }

    .card {
        margin: var(--space-4) 0;
    }
</style>
