---
import Icon from "astro-icon";
import Link from "./shared/Link.astro";
import presentation from "@/data/presentation";
---

<ul role="list" class="flex gap-2 flex-col md:flex-row">
  {
    presentation.socials.map((social, index) => (
      <>
        <li class="flex gap-1">
          <Icon name={social.icon} class="w-5"/>
          <Link href={social.link} label={social.label} />
        </li>

        {presentation.socials.length - 1 !== index && <li class="hidden md:inline-block">/</li>}
      </>
    ))
  }
</ul>
