.tags {
  ul {
    margin-left: 0;
    padding-left: 0;
  }

  li {
    list-style-type: none;
  }

  a {
    font-family: var(--text-font);
    color: var(--hover-color);
    text-decoration: none;
    padding: 2px 4px;
    border: 2px solid var(--hover-color);
    border-radius: 4px;
    margin-left: 6px;
  }

  a::before {
    content: "🏷 "; /* Ensure there's a space after the emoji for spacing */
    display: inline;
    white-space: nowrap !important;
  }
}
