.tags {
  ul {
    margin-left: 0;
    padding-left: 0;
  }

  li {
    list-style-type: none;
  }

  a {
    font-family: var(--text-font);
    text-decoration: none;
    border: none;

    &:hover {
      background: none;
      color: #999;
      border-bottom: 1px solid var(--primary-color);
    }
  }
}
