---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content"
import Layout from "@/layouts/Layout.astro";

export async function getStaticPaths() {
  const projects = await getCollection("projects");

  return projects.map((project) => ({
    params: { slug: project.slug },
    props: { project },
  }));
}

type Props = {
  project: CollectionEntry<"projects">;
};

const { project } = Astro.props;
const { Content } = await project.render();
---

<Layout title={project.data.title}>
  <main class="post md:mx-auto flex w-full max-w-prose md:max-w-full p-5 flex-col gap-4">
    <header role="presentation" class="flex flex-col items-center">
      <h1>
        {project.data.title}
      </h1>
      <hr/>
      <div>
        {project.data.tags.map((tag) => (
          <span class="tag">
            {tag}
          </span>
        ))}
      </div>
    </header>

    <Content />
  </main>
</Layout>
