---
import MainLayout from '@/layouts/MainLayout.astro';
import { getCollection } from 'astro:content';
import ContentCard from '@/components/content/card/ContentCard.astro';

const projects = await getCollection('projects');
---

<MainLayout>
    <div class="section">
        <div class="section__header">
            <h1 class="section__title">Проекты</h1>
        </div>
        <div class="section__content">
            {
                projects.map((project) => (
                    <ContentCard {...project.data} slug={project.slug} />
                ))
            }
        </div>
    </div>
</MainLayout>
