$bg-0: #181616;
$bg-1: lighten($bg-0, 5%);
$bg-2: lighten($bg-1, 10%);

$text-0: #C5C9C5;
$text-1: darken($text-0, 5%);

$bg-selection: #2D4F67;
$text-selection: #C8C093;

$primary-color: #8BA4B0;

:root.dark {
  --text-0: #{$text-0};
  --text-1: #{$text-1};

  --bg-0: #{$bg-0};
  --bg-1: #{$bg-1};
  --bg-2: #{$bg-2};

  --bg-selection: #{$bg-selection};
  --text-selection: #{$text-1};

  --border-color: var(--bg-2);

  --primary-color: #{$primary-color};
  --hover-color: white;

  .social > img {
    filter: invert(1);
  }
}