$bg-0: #222436;
$bg-1: lighten($bg-0, 5%);
$bg-2: lighten($bg-1, 10%);

$text-0: #c8d3f5;
$text-1: darken($text-0, 5%);

$bg-selection: #2d3f76;
$text-selection: #{$text-1};

$primary-color: #444a73;

:root {
  --text-0: #{$text-0};
  --text-1: #{$text-1};

  --bg-0: #{$bg-0};
  --bg-1: #{$bg-1};
  --bg-2: #{$bg-2};

  --bg-selection: #{$bg-selection};
  --text-selection: #{$text-1};

  --border-color: var(--bg-2);

  --primary-color: #{$primary-color};
  --hover-color: #828bb8;

  .social > img {
    filter: invert(1);
  }
}