---
import '@fontsource/montserrat';
import '@fontsource/nunito-sans';
import '@/styles/cv.css';

const title = 'Даниил Голубев | Резюме';
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content={title} />
        <title>{title}</title>
    </head>
    <body>
        <slot />
    </body>
</html>
