<!doctype html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>dadyarri</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style lang="scss" is:global>
	$bg-0: #222436;
	$bg-1: lighten($bg-0, 5%);
	$bg-3: lighten($bg-0, 10%);
	$bg-2: lighten($bg-1, 10%);

	$text-0: #c8d3f5;
	$text-1: darken($text-0, 5%);

	$bg-selection: #2d3f76;
	$text-selection: #{$text-1};

	$primary-color: #444a73;
	$primary-color-hover: lighten($primary-color, 15%);

	:root {
		--text-0: #{$text-0};
		--text-1: #{$text-1};

		--bg-0: #{$bg-0};
		--bg-1: #{$bg-1};
		--bg-2: #{$bg-2};
		--bg-3: #{$bg-3};

		--bg-selection: #{$bg-selection};
		--text-selection: #{$text-1};

		--border-color: var(--bg-2);

		--primary-color: #{$primary-color};
		--primary-color-hover: #{$primary-color-hover};
		--hover-color: #828bb8;

		.social > img {
			filter: invert(1);
		}
	}

	@font-face {
		font-family: "Jetbrains Mono";
		font-style: normal;
		font-weight: 400;
		src: url("/fonts/JetbrainsMono/JetBrainsMono-Regular.ttf"), local("ttf");
		font-display: swap;
	}

	@font-face {
		font-family: "Jetbrains Mono";
		font-style: normal;
		font-weight: 700;
		src: url("/fonts/JetbrainsMono/JetBrainsMono-Bold.ttf"), local("ttf");
		font-display: swap;
	}

	@font-face {
		font-family: "Rubik";
		font-style: normal;
		font-weight: 400;
		src: url("/fonts/Rubik/Rubik-Regular.ttf"), local("ttf");
		font-display: swap;
	}

	@font-face {
		font-family: "Rubik";
		font-style: normal;
		font-weight: 700;
		src: url("/fonts/Rubik/Rubik-Bold.ttf"), local("ttf");
		font-display: swap;
	}

	:root {
		/* Fonts */
		--text-font: "Jetbrains Mono";
		--header-font: "Rubik";
		--code-font: "Jetbrains Mono";

		--border-radius: 4px;

		&::-webkit-scrollbar {
			width: 13px;
		}

		&::-webkit-scrollbar-track {
			background-color: var(--bg-1);
		}

		&::-webkit-scrollbar-thumb {
			background-color: var(--primary-color);
			margin: 20px;
		}
	}

	html {
		background-color: var(--bg-0);
		color: var(--text-0);
		font-family: var(--text-font);
		line-height: 1.6em;
	}

	.content {
		max-width: 1000px;
		margin: 0 auto;
		padding: 0 24px;
		word-wrap: break-word;
	}

	@media all and (min-width: 640px) {
		html {
			font-size: 16.5px;
		}
	}

	@media all and (min-width: 720px) {
		html {
			font-size: 17px;
		}
	}

	@media all and (min-width: 960px) {
		html {
			font-size: 18px;
		}
	}
</style>
