---
import Header from "@components/Header.astro";
import PageTitle from "@components/PageTitle.astro";
import "@styles/main.scss";

const { title = "dadyarri" } = Astro.props;
---

<!doctype html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<title>{title}</title>
		<meta property="og:title" content={title} />

		<meta name="description" content="Личный блог dadyarri"/>
		<meta property="og:description" content="Личный блог dadyarri" />
		
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://dadyarri.ru" />
		<!-- Yandex.Metrika counter -->
		<script type="text/javascript" >
			(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
			m[i].l=1*new Date();
			for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
			k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
			(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

			ym(89869640, "init", {
					clickmap:true,
					trackLinks:true,
					accurateTrackBounce:true
			});
		</script>
		<noscript>
			<div>
				<img src="https://mc.yandex.ru/watch/89869640" style="position:absolute; left:-9999px;" alt="" />
			</div>
		</noscript>
		<!-- /Yandex.Metrika counter -->
	</head>
	<body>
		<div class="content">
			<Header />
			<PageTitle title={title} />
			<slot />
		</div>
	</body>
</html>
