---
import Header from "../components/Header.astro";
import "../styles/main.scss";
---

<!doctype html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>dadyarri</title>
	</head>
	<body>
		<div class="content">
			<Header />
			<slot />
		</div>
	</body>
</html>
