---
import Header from "../components/Header.astro";
import SEOTags from "@/components/seo/SEOTags.astro";

import "@fontsource/nunito-sans/400-italic.css";
import "@fontsource/jetbrains-mono";
import "@fontsource/montserrat";
import "@/styles/tailwind.css";
import "@/styles/post.css";

export type Props = {
  slug?: string;
  title?: string;
  type?: string;
  description?: string;
};

const { title, slug, type, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <SEOTags
      title={title}
      og={{ image: `/${type}s/${slug}/og-image.png` }}
      description={description}
    />
  </head>

  <body
    class="mx-auto flex min-h-screen lg:max-w-[1300px] flex-col gap-9 dark:bg-neutral-950 px-10 py-8 text-sm dark:text-neutral-400 md:gap-20 md:py-16 text-black"
  >
    <Header />
    <slot />
    <style is:global>
      html {
        font-family: "Nunito Sans", serif;
        font-style: italic;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: "Montserrat", sans-serif;
      }
      code,
      pre {
        font-family: "JetBrains Mono", monospace;
        font-style: normal;
      }
    </style>
    <script>
      let copyButtonLabel = "Копировать";
      let codeBlocks = Array.from(document.querySelectorAll("pre"));

      for (let codeBlock of codeBlocks) {
        codeBlock.setAttribute("tabindex", "0");

        let copyButton = document.createElement("button");
        copyButton.className = "copy-code";
        copyButton.innerHTML = copyButtonLabel;

        let wrapper = document.createElement("div");
        wrapper.style.position = "relative";

        codeBlock.parentNode?.insertBefore(wrapper, codeBlock);
        wrapper.appendChild(codeBlock);
        wrapper.appendChild(copyButton);

        copyButton.addEventListener("click", async () => {
          await copyCode(codeBlock, copyButton);
        });
      }

      async function copyCode(
        block: HTMLPreElement,
        button: HTMLButtonElement,
      ) {
        let code = block.querySelector("code");
        let text = code?.innerText;

        await navigator.clipboard.writeText(text || "");

        button.innerText = "Скопировано";

        setTimeout(() => {
          button.innerText = copyButtonLabel;
        }, 700);
      }
    </script>
  </body>
</html>
