---
import "@fontsource/jetbrains-mono/400.css";
import "@fontsource/jetbrains-mono/700.css";
import "@fontsource/rubik/400.css";
import "@fontsource/rubik/700.css";
import "@styles/main.scss";

const {
  title = "CV",
  description = title,
  lang = "ru",
} = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body class="print-layout">
    <main class="content print-content">
      <slot />
    </main>
  </body>
</html>
