<footer class="site-footer">
  <small>
    Сайт работает на <a href="https://www.11ty.dev/" target="_blank">Eleventy</a>.
    Исходники лежат на <a href="{{ pkg.repository.url }}" target="_blank" rel="noopener noreferrer">GitHub</a>.
  </small>
</footer>
