{% set pageTitle = renderData.title or title or metadata.title %}
{% set pageTitleSlug = pageTitle | slug %}
{% set pageDescription = shortSummary or metaDescription or renderData.metaDescription or summary or metadata.description %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ pageTitle }}</title>
  <meta name="description" content="{{ pageDescription }}">
  <link rel="dns-prefetch" href="https://identity.netlify.com">
  <link rel="icon" href="{{ metadata.favicon }}">

  {# Canonical URL #}
  {% if canonical %}
    <link rel="canonical" href="{{ canonical }}"/>
  {% endif %}

  <meta property="og:title" content="{{ pageTitle }}"/>
  <meta property="og:description" content="{{ pageDescription }}"/>

  <meta property="og:url" content="{{ page.url }}"/>

  {% if section == 'post' %}
    <meta property="og:image" content="https://dadyarri.ru/img/og/{{ urlPath }}-preview.jpeg"/>
    <meta property="og:image:secure_url" content="https://dadyarri.ru/img/og/{{ urlPath }}-preview.jpeg"/>
  {% endif %}

  {% if section == 'project' %}
    <meta property="og:image" content="https://dadyarri.ru/img/og/{{ pageTitleSlug }}-preview.jpeg"/>
    <meta property="og:image:secure_url" content="https://dadyarri.ru/img/og/{{ pageTitleSlug }}-preview.jpeg"/>
  {% else %}
    <meta property="og:image" content="https://dadyarri.ru/img/default-preview.jpeg"/>
    <meta property="og:image:secure_url" content="https://dadyarri.ru/img/default-preview.jpeg"/>
  {% endif %}

  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:site" content="@dadyarri"/>
  <meta name="twitter:creator" content="@dadyarri"/>

  {# Third-party scripts #}
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

  {# Fonts #}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  {# CSS #}
  <link rel="stylesheet" href="/assets/css/main.css">

  {# Javascript #}
  <script async src="/assets/js/main.bundle.js"></script>
  <script async src="/assets/js/switchTheme.js"></script>
</head>