{% set pageTitle = renderData.title or title or metadata.title %}
{% set pageDescription = metaDescription or renderData.metaDescription or summary or metadata.description %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ pageTitle }}</title>
  <meta name="description" content="{{ pageDescription }}">
  <link rel="dns-prefetch" href="https://identity.netlify.com">
  <link rel="icon" href="{{ metadata.favicon }}">

  {# Canonical URL #}
  {% if canonical %}
    <link rel="canonical" href="{{ canonical }}" />
  {% endif %}

  <meta property="og:title" content="{{ pageTitle }}"/>
  <meta property="og:description" content="{{ pageDescription }}"/>

  {# Third-party scripts #}
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

  {# Fonts #}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  {# CSS #}
  <link rel="stylesheet" href="/assets/css/main.css">

  {# Javascript #}
  <script async src="/assets/js/main.bundle.js"></script>
  <script async src="/assets/js/switchTheme.js"></script>
</head>
